<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <appSettings>
        <add key="Test/MultiPaths" value="
             {SolutionFolder}..;
             {TestProjectFolder}/../XXXXX/{BuildConfiguration};
             ;
             X/../{TestProjectName};
             {ClosestSUTProjectFolder}/{BuildConfiguration}-{TestProjectName}-{SolutionName}/{PathToBin};
             ../Y;
             {X}\{BuildConfiguration}\..\Y;
             ;;;;;
             " />
    </appSettings>
</configuration>
