<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <appSettings>
        <add key="Test/MultiPaths" value="
             {SolutionFolder}..;
             {TestProjectFolder}/../XXXXX/{BuildConfiguration};
             ;
             X/../{TestProjectName};
             {ClosestSUTProjectFolder}/{BuildConfiguration}-{TestProjectName}-{SolutionName}/{PathToBin};
             ../Y;
             {X}\{BuildConfiguration}\..\Y;
             ;;;;;
             " />
      <add key="Test/UnusedKey" value="unused" />
      <!-- Using "Path" is to help readability. This can be found with any path like "Test/Anything/Ambiguous" or "Anything/Ambiguous". -->
      <add key="Ambiguous" value="I'm at the root!" />
      <!-- The key is now "Thing/NewName" -->
      <add key="OldName" value="I'm using a deprecated name." />
    </appSettings>
</configuration>
